[buildout]
extends = versions.cfg

index = http://eggrepo.eea.europa.eu/pypi/

parts =
    instance
    i18ndude
    zopeskel
    test

find-links =
   http://eggrepo.eea.europa.eu/simple

extensions =
    mr.developer
    buildout.dumppickedversions
    buildout.threatlevel

auto-checkout = *
always-checkout = force
sources = sources
versions = versions

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage

eggs =
	Pillow
    Plone
    Products.EEAPloneAdmin
    hachoir-core
    hachoir-metadata
    hachoir-parser

zcml =
    Products.CMFPlone
    Products.EEAPloneAdmin
    Products.NavigationManager
    eea.translations

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${instance:eggs}

[zopeskel]
unzip = true
recipe = zc.recipe.egg
eggs =
    ZopeSkel
    ${instance:eggs}

[sources]
Products.EEAPloneAdmin     = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/Products.EEAPloneAdmin/trunk
Products.NavigationManager = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/Products.NavigationManager/trunk
Products.eeawebapplication = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/Products.eeawebapplication/trunk
bda.feed                   = svn https://svn.plone.org/svn/collective/bda.feed/trunk
cornerstone.feed.core      = svn https://svn.plone.org/svn/collective/cornerstone.feed.core/trunk
cornerstone.feed.zope      = svn https://svn.plone.org/svn/collective/cornerstone.feed.zope/trunk
eea.design                 = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.design/trunk
eea.facetednavigation      = svn https://svn.plone.org/svn/collective/eea.facetednavigation/trunk/
eea.rdfmarshaller          = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.rdfmarshaller/trunk
eea.rdfrepository          = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.rdfrepository/trunk
eea.testcase               = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.testcase/trunk
eea.themecentre            = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.themecentre/trunk
eea.translations           = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.translations/trunk
p4a.common                 = svn https://svn.plone.org/svn/collective/p4a/p4a.common/trunk/
p4a.fileimage              = svn https://svn.plone.org/svn/collective/p4a/p4a.fileimage/trunk/
p4a.plonevideo             = svn https://svn.plone.org/svn/collective/p4a/p4a.plonevideo/trunk/
p4a.subtyper               = svn https://svn.plone.org/svn/collective/p4a/p4a.subtyper/trunk/
p4a.video                  = svn https://svn.plone.org/svn/collective/p4a/p4a.video/trunk/
p4a.z2utils                = svn https://svn.plone.org/svn/collective/p4a/p4a.z2utils/trunk/
p4a.plonevideoembed        = svn https://svn.plone.org/svn/collective/p4a/p4a.plonevideoembed/trunk/
p4a.videoembed             = svn https://svn.plone.org/svn/collective/p4a/p4a.videoembed/trunk/
valentine.imagescales      = svn https://svn.plone.org/svn/collective/valentine.imagescales/branches/plone4
valentine.linguaflow       = svn https://svn.plone.org/svn/collective/valentine.linguaflow/branches/plone4
eea.vocab                  = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.vocab/trunk
eea.mediacentre            = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.mediacentre/trunk
eea.promotion              = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.promotion/trunk
eea.reports                = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.reports/trunk
eea.forms                  = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.forms/trunk 
eea.alchemy                = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.alchemy/trunk
eea.cache                  = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.cache/trunk
eea.dataservice            = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.dataservice/trunk
eea.faceted.inheritance    = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.faceted.inheritance/trunk
eea.faceted.vocabularies     = svn https://svn.plone.org/svn/collective/eea.faceted.vocabularies/trunk
eea.geotags                  = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.geotags/trunk
eea.indicators               = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.indicators/trunk
eea.jquery                   = svn https://svn.plone.org/svn/collective/eea.jquery/trunk
eea.locationwidget           = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.locationwidget/trunk
eea.relations                = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.relations/trunk
eea.soer                     = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.soer/trunk
eea.versions                 = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.versions/trunk
eea.workflow                 = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.workflow/trunk
Products.EEAContentTypes     = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/Products.EEAContentTypes/trunk

