[buildout]
extends = https://svn.eionet.europa.eu/repositories/Zope/trunk/www.eea.europa.eu/trunk/versions-jenkins.cfg

[versions]
hachoir-core = 1.2
hachoir-metadata = 1.2
hachoir-parser = 1.2

# Do not remove zc-buildout from this file as it's used by install.sh
zc.buildout=1.5.2
